spring:
  application:
    name: Account-Service-MS

  datasource:
    url: jdbc:mysql://localhost:3306/account_service?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: Rama
    password: Rama@2983
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8081
  servlet:
    context-path: /accounts
